# LaTeX
*/latex-*/*.aux
*/latex-*/*.log
*/latex-*/*.fls
*/latex-*/*.toc
*/latex-*/*.fdb_latexmk
*/latex-*/*.latexmk
*/latex-*/*.bbl
*/latex-*/*.blg
*/latex-*/*.nlo
*/latex-*/*.out
*/latex-*/*.pdf
*/latex-*/*.jpeg
*/latex-*/*.jpg
*/latex-*/*.png
*/latex-*/*.tiff
*/latex-*/*.tif
*/latex-*/*-diff.*
*/latex-*/*.synctex*
!*/latex-*/*-old.*
*/uploads/*.zip
*/uploads/*.pdf
*/latex-*/acs-*.bib
*/latex-*/*Notes.bib
*/latex-*/*.sha256

# Software environment
venv

# Ninja and RepRepBuild
.ninja_log
.ninja_deps
build.ninja
*.dd
*.d
.reprepbuild
*/latex-article/article.tex

# Python
__pycache__
dist
build

# Scripts
*/results-*/*.log
