*/latex-*/*.aux
*/latex-*/*.log
*/latex-*/*.fls
*/latex-*/*.toc
*/latex-*/*.fdb_latexmk
*/latex-*/*.latexmk
*/latex-*/*.bbl
*/latex-*/*.blg
*/latex-*/*.nlo
*/latex-*/*.out
*/latex-*/*.pdf
*/latex-*/*.jpeg
*/latex-*/*.jpg
*/latex-*/*.png
*/latex-*/*.tiff
*/latex-*/*.tif
*.depfile
acs-*.bib
build.ninja
env
.ninja_log
__pycache__
