# LaTeX
latex-*/*.aux
latex-*/*.acn
latex-*/*.bbl
latex-*/*.blg
latex-*/*-diff.*
latex-*/*.dvi
latex-*/*.fdb_latexmk
latex-*/*.fls
latex-*/*.glo
latex-*/*.glsdefs
latex-*/*.ist
latex-*/*.jpeg
latex-*/*.jpg
latex-*/*.latexmk
latex-*/*.lof
latex-*/*.lot
latex-*/*.log
latex-*/*.nlo
latex-*/*.nav
latex-*/*.out
latex-*/*.png
latex-*/*.pdf
latex-*/*.synctex*
latex-*/*.snm
latex-*/*.tiff
latex-*/*.tif
latex-*/*.toc

latex-*/acs-*.bib
latex-*/*Notes.bib
latex-*/*.sha256

# Software environment
venv
.envrc

# Ninja and RepRepBuild
.ninja_log
.ninja_deps
build.ninja
*.dd
*.d
.reprepbuild
*/latex-article/article.tex

# Python
__pycache__
dist
build

# Scripts
*/results-*/*.log
