# Pip version pinned due to https://github.com/mbarkhau/markdown-katex/pull/17
pip==24.3.1
# Minimal requirements for StepUp RepRep and the initial template
pre-commit==4.1.0
numpy==2.2.2
matplotlib==3.10.0
pytest==8.3.4
bibsane==0.1.3
stepup==2.1.4
stepup-reprep==2.3.1
